<nav class="bg-white border-b shadow-sm px-6 py-4 flex justify-between items-center">
    <span class="text-xl font-bold text-red-500">
        Open Food Facts
    </span>

    <div class="flex gap-6 text-sm">
        <a href="{{ path('app_logout') }}" class="text-gray-700 hover:text-red-500">Déconnexion</a>
    </div>
</nav>
