<form method="post" action="{{ path('app_user_delete', {id: user.id}) }}"
      onsubmit="return confirm('Supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

    <twig:Button size="icon" variant="outline">
        {{ ux_icon('heroicons:trash', { class: 'w-5 h-5 text-red-600' }) }}
    </twig:Button>
</form>
