{% extends 'base.html.twig' %}

{% block body %}
{% include 'partials/navbar.html.twig' %}

<main class="p-6 max-w-xl mx-auto">
    <h1 class="text-xl font-bold mb-4">Ajouter un utilisateur</h1>

    {% include 'user/_form.html.twig' %}
    
</main>
{% endblock %}
